.map-container {
  height: 100vh;
  z-index: 0;
}

.banner {
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  padding: 22px;
  width: 350px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 18%) 0px 1rem 3rem;
  z-index: 1;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

select {
  display: block;
  outline: none;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

select:active {
  outline: none;
}