body {
  margin: 0;
  padding: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow {
  box-shadow: rgb(0 0 0 / 15%) 0px 0.5rem 1rem;
}

.d-flex {
  display: flex;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.map-controls {
  min-width: 360px;
}